<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- new Car() 스프링이 생성해서 관리할 객체 -->
	<!-- 프로젝트를 실행하면 스프링이 new Car()해서 객체를 생성해서 가지고있따가 필요한 곳에 넣어줌 -->
	<bean class="com.example.hello.Car" /> 
</beans>
